.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  background: $default-bg-color;
  color: $default-color;
  outline: none;
  line-height: $default-line-height;
  border: $default-border-width solid $default-color;

  &-default {
    min-height: 90px;
    font-size: $default-font-size ;
    padding: 25px 87px;
  }

  &-min500 {
    min-width: 500px;
  }

  &-min600 {
    min-width: 600px;
  }

  &-thin {
    min-height: 60px;
    padding: 0 40px;
    font-size: $small-font-size;
    line-height: $fat-line-height;
  }

  &-fat {
    min-height: 80px;
    padding: 0 37px;
    font-size: $small-font-size;
    line-height: $fat-line-height;
  }

  &-submit {
    min-width: 510px;
    padding: 23px;
    font-size: $small-font-size;
  }
}

$input-font-size: 28px;

.form {
  &-control {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    padding: 28px 40px;
    font-size: $input-font-size;
    line-height: $default-line-height;
    border: 2px solid $light-gray;
    border-radius: 12px;
    background: $default-bg-color;
    box-sizing: border-box;
  }
}
