
// opacity
// Usage: @include opacity(.8)



//_____________________________________________________
//                                              FLEXBOX
@mixin flex() {
  display: flex;
  flex-wrap: wrap;
  &.fluid {
    margin-left: -1rem;
    margin-right: -1rem;
  }
}


// Vendor prefixes
// Usage: css-prefix(transition, all .2s ease-in-out)



// center
// Usage: @include center()


// Keyframes for animation
// Usage: @include keyframes(fade-out)
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
      @content;
  }
  @-moz-keyframes #{$animation-name} {
      @content;
  }  
  @keyframes #{$animation-name} {
      @content;
  }
}


// animation
// Usage: @include animation('fade-out 5s 3')
@mixin animation($str) {
  @include css-prefix(animation, #{$str});  
}