.row {
  @include clearfix;
  position: relative;
  width: 100%;
  &.fluid {
    width: auto;
    margin-left: -1rem;
    margin-right: -1rem;
  }
}

[class*="col-"] {
  float: left;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

@each $name, $point in $preakpoints {
  @media screen and (min-width: $point) {
    @for $i from 1 through $grid {
      .col-#{$name}-#{$i} {
        width: percentage($i / $grid);
      }
      .col-#{$name}-hidden {
        display: none;
      }
    }
  }
}
